.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Digi-header {
  background-color: #738fba;
  font-family: 'Helvetica', 'Arial'  ;
  text-align: center ;
  line-height: 5px;
  border-radius: 5px;
  color:  #C03000;
  min-height: 10vh;
}

.Digi-footer {
  background-color:  #bf2657;
  font-family: 'Helvetica', 'Arial'  ;
  text-align: center ;
  line-height: 7px;
  border-radius: 3px;
  color:   #C03000 ;
}

.Digi-main {
  background-color:  #bf2657;
  font-family: 'Helvetica', 'Arial'  ;
  text-align: justify ;
  font-size: 12px ;
  background-color: #d7d7e0;
  line-height: 7px;
  border-radius: 3px ;
  border-color: #9191a1;
  color:    #4e876e;
}